" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

let mapleader=' '
set  easymotion

set  surround
set  multiple-cursors
set  commentary
set incsearch

map f <Plug>(easymotion-s)
map F <Plug>(easymotion-s2)
map L $
map H ^

" select all text in visual mode
nnoremap <C-a> GVgg
inoremap <C-j> <Esc>
vnoremap <C-j> <Esc>

set clipboard+=unnamed